<div>
	<p><%= link_to "Nowa kategoria", new_category_path %></p>
</div>
<div>
<table>
  <tr>
    <th>Kategoria</th>
    <th>Cena</th>
  </tr> 
<% @categories.each do |category| %>
  <tr>
    <th><%= link_to  category.category, category %></th>
    <th><%= category.price %></th>
  </tr>
<% end %>
<% if @categories.size == 0 %>
  <em>Brak kategorii<em>
<% end %>
</div>